<ng-container *ngIf="articles$ | async as articleList">
    <ul class="list-group">
        <li *ngIf="articleList.results.length === 0">
            <p>No articles found.</p>
        </li>

        <li class="list-group-item" *ngFor="let article of articleList.results">
            <div class="content">
                <h4>{{article.title}}</h4>
                <p>{{article.description}}</p>
            </div>
            <div class="controls">
                <a [routerLink]="['/blog', article.slug]">Read more &raquo;</a>
            </div>
        </li>
    </ul>
</ng-container>
